/* .mat-grid-tile {
    background: #00b2b1;
  } */

.mat-grid-tile {
  border: solid 2px #00b2b1;
  border-radius: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.arrow {
  vertical-align: middle;
  width: 50px;
  height: 20px;
  border-radius: 20%;
  margin:auto 0;
}

.text-color {
  color: #00b2b1;
}
