.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}

.mat-fab-top-right{
top: auto;
right: 20px;
bottom: 20px;
left: auto;
	position: fixed !important;

}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sid-card {
  width: 400px;
}
