<div class="rcontainer">
    <div *tdLoading="'loadingsid'; mode:'indeterminate';
  type:'linear'; strategy:'overlay'; color:'primary'">
      <div *ngIf="dataloaded">
        <div *ngIf="gridcomp">
          <mat-grid-list cols="3" rowHeight="3:1" gutterSize="20px">
            <mat-grid-tile *ngIf="shownew">
              <mat-list>
                <mat-list-item style="cursor: pointer" (click)="newConn()">
                  <mat-icon color="primary" matListIcon>add</mat-icon>
                  <div mat-line>New Connection</div>
                </mat-list-item>
              </mat-list>

            </mat-grid-tile>
            <mat-grid-tile *ngFor="let con of datarecords" style="cursor: pointer">
              <mat-list>
                <mat-list-item (click)="editConn(con)">
                  <img matListAvatar [src]="con.conn_logo" />
                  <div mat-line>{{con.name}}</div>
                  <div mat-line>System Type: {{con.conn_system_type}}</div>
                  <div mat-line>Creation Date: {{con.create_date}}</div>

                </mat-list-item>
              </mat-list>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div *ngIf="!gridcomp">

              <mat-list [style.width.px]="340">
                <mat-list-item>
                  <td-search-box backIcon="arrow_back"
                  placeholder="Filter Connector"
                  [showUnderline]="false"
                  [alwaysVisible]="true"
                  (searchDebounce)="filterConnector($event)"
                  flex>
                  </td-search-box>
                </mat-list-item>
                <mat-divider></mat-divider>
                <td-virtual-scroll-container #virtualScroll
                [style.height.px]="300"
                [data]="datarecords">
                  <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
                    <mat-list-item style="cursor: pointer" (click)="editConn(row)">
                      <img matListAvatar [src]="row.conn_logo" />
                      <div mat-line>{{row.name}}</div>
                      <div mat-line>System Type: {{row.conn_system_type}}</div>

                    </mat-list-item>
                    <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                  </ng-template>
                </td-virtual-scroll-container>
              </mat-list>


        </div>


      </div>

    </div>

  </div>