mapform{
    width: 80%;
}
.oneoffrun{
    margin-left: 40px;
}

.rightsection {
    margin-left: 40px;

}

.fill-remaining-space {
    flex: 1 1 auto;
  }

.white-icon {
    color: white;
    margin-right: 5px;
}

.full-width {
    width: 100%;
  }

  .arrow {
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 20%;
    margin:auto 0;
  }

  .card-colored{
      background-color: #00b2b1;
  }
